.cabecalhoPrincipal .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cabecalhoPrincipal-nav{
	display: flex;
}

.rodapePrincipal-patrocinadores .container{
	display: flex;
	justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 70%;
}

.rodapePrincipal-contatoForm{
	width: 25%
}

.rodapePrincipal-contatoForm-fieldset{
	display: flex;
}

.rodapePrincipal-navMap-list{
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; /*Quebra para a próxima coluna*/
	height: 260px;	
}

.conteudoPrincipal-cursos{
	display: flex;
	flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link{
	width: 23%;
	margin: 1%;
}

/*seletor do 4 elemento para retirar a margem direita*/
.conteudoPrincipal-cursos-link:nth-child(4n) {
	margin-right: 0;	
}

/*seletor do 4n+1 elemento para retirar a margem esquerda*/
.conteudoPrincipal-cursos-link:nth-child(4n+1) {
	margin-left: 0;	
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.box {
  height: 50px;
  width: 100px;
  background-color: green;
}
